<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
	<title> Questions Home </title>
  <link rel="shortcut icon" href="/img/favicon.ico">
  <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
  <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
</head>
  <body >
	<div id="create">
	<a class="btn btn-custom" href="/create.html">Create a question </a>
	
	<a class="btn btn-custom" href="/upload.html">Upload an image </a>
	{% if url_linktext == 'Logout' %}
	<a class="btn btn-custom" href="/viewUploadedImages">View your images </a>
	{% endif %}
	</div>
	<div id="container" class="hfeed default" style="display:block;margin:0 auto;width:80%;" >	
		    <div class="navbar  navbar-fixed-top">
	
	<div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
              <li>
                <a href="/">
                  Home
                </a>
              </li>
			  </ul>
			  
			  <ul class="nav navbar-nav navbar-right">
			  <li class="divider-vertical"> </li>
              <li >
                <a href="{{ url|safe }}">{{ url_linktext }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
	
	
	<hr style="max-width:90%">
	{% for question in questions %}
		
        <div style="display:block;overflow:hidden;">
		<blockquote>
		<a class="questions" href="/view/{{question.key.id()}}">{{ question.content|truncateContent }}</a> 
	
		<div style="font-size: 12px;color: #DDA0DD;">
		<footer><br><div class="author"> - {{question.author}} </div>
		{% if question.tags is tagsPresent %}
		Tags:
		{% for tag in question.tags %}
			
			<a class="tags" href="/tags/{{tag}}"> {{tag}} </a> 
		{% endfor %}
		{% endif %}
		
		</footer>
		</div>	
		</blockquote>
		</div>
		
		<hr style="max-width:90%">
			
    {% endfor %}
	
	<div class="pagination">
		<span class="step-links">
			{% if questions.has_previous() %}
				<a class="tags" href="?page={{ questions.previous_page_number() }}">previous</a>
			{% endif %}
			<span class="current">
				Page {{ questions.number }} of {{ questions.paginator.num_pages }}
			</span>

			{% if questions.has_next() %}
				<a class="tags" href="?page={{questions.next_page_number()}}">next</a>
			{% endif %}
		</span>
	</div>
	
	
	
	</div>
  </body>
</html>
{% endautoescape %}