<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
	<title> View Question </title>
	<link rel="shortcut icon" href="/img/favicon.ico">
   <link href="/stylesheets/bootstrap.css" rel="stylesheet">
   <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
  <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript">
  
	String.prototype.isEmpty = function() {
    return (this.length === 0 || !this.trim());
    };

	function Validate(){
		var ans = document.getElementById("content").value
		if(ans.isEmpty()){
			window.alert('Answer cannot be empty!')
			return false;
		}
		return true;
	}
  </script>
</head>
  <body>
	<div id="container" class="hfeed default" style="margin:0 auto;width:70%;" >	
		    <div class="navbar navbar-fixed-top">
	
		<div class="navbar-inner">
			<div class="container">
			  <div class="nav-collapse collapse">
				<ul class="nav navbar-nav navbar-left">
				  <li>
					<a href="/">
					  Home
					</a>
				  </li>
				  </ul>
				  <ul class="nav navbar-nav navbar-right">
				    <li class="divider-vertical"> </li>
				  <li >
					<a href="{{ url|safe }}">{{ url_linktext }}</a>
				  </li>
				</ul>
			  </div>
			</div>
		  </div>
		</div>
		
		<div>
		<h3> Question: 
		<a href="/generateRSS?ques={{question.key.id()}}">
		<img src="/img/rss-icon.png" width=50px height=50px align="right">
		</a>
		</h3>
		</div>
		
		<table class="table" style="width:100%;">
			<tbody>
				<tr class="img-rounded">
					<td align="center" style="padding:15px;">
						<a href="/voteq?quest={{question.key.urlsafe()}}&type=up">
						  <img src="/img/thumbs_up.ico" width=30px height=40px>
						</a>
						<br>
						<h3  style="margin: 0px 0px -20px;">&nbsp;{{ question.votes}} </h3>
						<br>
						<a href="/voteq?quest={{question.key.urlsafe()}}&type=down">
						<img src="/img/thumbs_down.ico" width=30px height=30px>
						</a>
					</td>
					<td >
						<div class="qcontent" style="width:500px;display:block;overflow:hidden;">{{ question.content | safe }}
						
						</div>
						<div style="font-size: 12px;color: #DDA0DD;"> Tags: 
						{% for tag in question.tags %}
							{% if tag %}
								<a class="tags" href="/tags/{{tag}}"> {{tag}} </a>
							{% endif %} 
						{% endfor %}
						</div>
					</td>
					<td align="center" style="padding:30px; align:center;">
						{% if question.author is currentUser %}
							<a class="btn btn-custom" href="/editquestion?quest={{question.key.urlsafe()}}">Edit</a>
						{% endif %} 
						<br><br>
						<p><small>Created {{question.created|datetimetorfc(5)}} 
							<br> Modified {{question.modified|datetimetorfc	(5)}}
							<br>- by {{question.author}}
							</small>
							
						</p>
					</td>
				</tr>
				
			</tbody>
		</table>

		<h3> Answers: </h3>
		
		
		<table class="table" style="width:100%;">
			<tbody>
				 {% for answer in answers %}
				<tr>
					<td align="center" style="padding:15px;">
						<a href="/voteans?ans={{answer.key.urlsafe()}}&type=up"><img src="/img/thumbs_up.ico" width=30px height=30px></a>
						<br>
						<h3  style="margin: 0px 0px -20px;">&nbsp;{{ answer.votes}} </h3>
						<br>
						<a href="/voteans?ans={{answer.key.urlsafe()}}&type=down"><img src="/img/thumbs_down.ico" width=30px height=30px></a>
					</td>
					
					<td >
						<div class="qcontent" style="width:500px;display:block;overflow:hidden;">{{ answer.content|safe }}
						
						</div>
					</td>
					<td align="center" style="padding:30px;align:center">
						{% if answer.author is currentUser %}
							<a class="btn btn-custom" href="/editanswer?ans={{answer.key.urlsafe()}}">Edit</a>
							<br><br>
						{% endif %}
						
						<p><small>Created {{answer.created|datetimetorfc(5)}} 
							<br>Modified {{answer.modified|datetimetorfc(5)}}
							<br>- by {{answer.author}}</small>
						</p>
					</td>
				</tr>
				
				{% endfor %}
			</tbody>
		</table>
	

	<div class="pagination">
		<span class="step-links">
			{% if answers.has_previous() %}
				<a class="tags" href="?page={{ answers.previous_page_number() }}">previous</a>
			{% endif %}
			<span class="current">
				Page {{ answers.number }} of {{ answers.paginator.num_pages }}
			</span>

			{% if answers.has_next() %}
				<a class="tags" href="?page={{answers.next_page_number()}}">next</a>
			{% endif %}
		</span>
	</div>
	

   {% if url_linktext == 'Logout' %}
	<hr>
	<form action="/addanswer" method="post" onsubmit="return Validate()">
      <div><textarea class="input-block-level" id="content" name="content" rows="5"></textarea></div>
	  <input type="hidden" value={{question.key.urlsafe()}} name="q_id">
      <div><input type="submit" class="btn btn-custom2" value="Add answer"></div>
    </form>
	{% endif%}
	<p>
	
	</p>
	</div>
  </body>
</html>
{% endautoescape %}	